---
// import { Debug } from 'astro:components';
import Layout from '@/layouts/BaseLayout.astro';
import { Box, Stack } from '@cc/index.js';
import { getCollection } from 'astro:content';
import BlogCard from '@/components/BlogCard/index.astro';
// import { blogSchema } from '@/schemas/index.ts';
const pageTitle = 'Blog';

const publishsedPosts = await getCollection('blog', ({ data }) =>
  import.meta.env.PROD ? data.draft !== true : true,
);
---

<Layout title={pageTitle}>
  <Stack space="var(--s1)">
    <Box><h2>{pageTitle}</h2></Box>
    {
      publishsedPosts.map((post) => {
        // const zPost = blogSchema.safeParse(post.data);

        // const { success, error } = zPost;

        // if (error) {
        //   throw new Error(`Error parsing blog post: ${error}`);
        // }

        return (
          <>
            {/* <Debug data={post.data} /> */}
            <BlogCard
              backgroundColor="var(--surface-4)"
              foregroundColor="var(--text-2)"
              post={post}
            />
          </>
        );
      })
    }
  </Stack>
</Layout>
