---
interface Props {
    platform: string,
    username: string
}
const { platform, username } = Astro.props
---

<!-- <a href={`https://www.${platform}.com/${username}`}></a> -->
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
<style>
    a {
        border-radius: var(--radius-3);
        padding: var(--size-4)  var(--size-8);
        box-shadow: var(--shadow-6);

        color: white;
        background-color: var(--indigo-3);
        text-decoration: none;
        cursor: pointer;

        &:hover {
            box-shadow: var(--shadow-3);
        }
    }
</style>
