---
import 'open-props/postcss/normalize'
import 'open-props/postcss/buttons'

import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

interface Props {
    pageTitle: string
    description?: string
    image?: string
    surfaceClass?: 'surface-1' | 'surface-2' | 'surface-3' | 'surface-4'
    children: any
}

const isProd = import.meta.env.PROD
const isDev = import.meta.env.DEV

const {
    pageTitle,
    description = 'my description',
    image = '/placeholder-social.jpg',
    surfaceClass = 'surface-2',
} = Astro.props
---

<html lang="en">
    <head>
        <BaseHead title={pageTitle} description={description} image={image} />
    </head>
    <body class={surfaceClass}>
        <Header />
        <h1 class="span-5" transition:animate="fade">{pageTitle}</h1>
        <main class:list={['span-5', 'type-1']}>
            <slot transition:animate="none" />
        </main>
        <Footer class:list={['span-5',' surface-1']} />

        <style>
      

            .center-self {
                align-self: center;
            }
            .devborder {
                border: var(--border-size-2) solid var(--brand);
            }
            body {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: min-content min-content 4fr 1fr;
                justify-items: center;
                align-items: start;
                grid-gap: var(--size-fluid-1);

                @media screen and (min-width: 600px) {
                    width: 80%;
                    margin: 0 auto;
                }
            }

            .type-1 {
                font-size: var(--font-size-4);
                font-weight: var(--font-weight-3);
                line-height: var(--line-height-1);
            }

            .span-5 {
                grid-column: span 5;
                padding: 25px 0;
            }

            footer {
             
            }
            main {
                grid-column: span 5;
                
            }



            h1 {
                font-weight: var(--font-weight-9);
            }
        </style>
    </body>
</html>
