---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import GlobalStyle from '@styles/GlobalStyle.astro'
import { ViewTransitions } from 'astro:transitions'

import { Cover } from '@cc/index'

type Props = {
  pageTitle: string
  description?: string
  image?: string
  surfaceClass?: 'surface-1' | 'surface-2' | 'surface-3' | 'surface-4'
}

// const isProd = import.meta.env.PROD
// const isDev = import.meta.env.DEV

const {
  pageTitle,
  description = 'my description',
  image = '/placeholder-social.jpg',
  surfaceClass = 'surface-4',
} = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<html transition:animate="none">
  <head>
    <BaseHead title={pageTitle} description={description} image={image} />
    <link rel="canonical" href={canonicalURL} />
    <GlobalStyle />
    <ViewTransitions />
    <!-- <link
      rel="alternate"
      type="application/rss+xml"
      title="Your Site's Title"
      href={`${Astro.site}rss.xml`}
    /> -->
  </head>

  <body class:list={[surfaceClass]}>
    <Cover centeredElement="main">
      <Header />

      <main transition:animate="slide" class="mainClass">
        <h1 transition:animate="fade">
          {pageTitle}xxx
        </h1>

        <slot />
      </main>

      <Footer class={surfaceClass} />
    </Cover>
  </body>
</html>
