---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { Cover, Center, Box } from '@cc/index.js';
// import SpeedInsights from '@vercel/speed-insights/astro';

interface Props {
  pageTitle?: string;
  description?: string;
  image?: string;
  children: unknown;
}

// const isProd = import.meta.env.PROD
// const isDev = import.meta.env.DEV

const {
  pageTitle = 'Mike Connor',
  description = 'my description',
  image = '/placeholder-social.jpg',
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" transition:animate="none">
  <head>
    <BaseHead title={pageTitle} description={description} image={image} />
    <link rel="canonical" href={canonicalURL} />
  </head>

  <body>
    <Cover centeredElement="center-l" noPad={true} space="0">
      <Header transition:persist />

      <Center><slot /></Center>

      <Footer transition:persist />
    </Cover>

    <style>
      :global(body) {
        color: var(--tex-1);
        background-color: var(--gradient-1) !important;

        background-image: var(--gradient-6);
      }
    </style>
  </body>
</html>
