---
// import { z } from 'astro:content';
import BaseHead from '#components/BaseHead.astro';

import Cover from '#astro-custom-layout-components/Cover/index.astro';
// import Center from '#lit-layout-components/Center/index.astro';

import Center from '#astro-custom-layout-components/Center/index.astro';
import type { RmUnitType } from '#UnitTypes.js';

import Header from '#components/Header.astro';

// import SpeedInsights from '@vercel/speed-insights/astro';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  maxW?: RmUnitType;
  children: unknown;
}

// const isProd = import.meta.env.PROD
// const isDev = import.meta.env.DEV

const {
  title = 'Mike Connor',
  description = 'my description',
  image = '/placeholder-social.jpg',
  maxW = 'var(--measure)',
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" data-theme="toucan">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <link rel="canonical" href={canonicalURL} />
  </head>

  <body>
    <Cover centeredElement="center-l" space="0">
      <Header transition:persist />

      <Center max={maxW} transition:animate="slide"><slot /></Center>
    </Cover>

    <script is:inline>
      // import { $currTheme } from '../store/currTheme.js';

      // on page, get the last theme from the cookie and set it
      document.addEventListener('astro:page-load', () => {
        const storedTheme = localStorage.getItem('theme');
        if (storedTheme) {
          document.documentElement.setAttribute('data-theme', storedTheme);
          // $currTheme.set(storedTheme);
        } else {
          document.documentElement.setAttribute('data-theme', 'light');
        }
      });
    </script>
  </body>
</html>
