---
import BaseHead from '@components/BaseHead.astro'
// import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import Hamburger from '@components/Hamburger.astro'
interface Props {
    pageTitle: string
    description?: string
    image?: string
    surfaceClass?: 'surface-1' | 'surface-2' | 'surface-3' | 'surface-4'
    children: any
}

// const isProd = import.meta.env.PROD
// const isDev = import.meta.env.DEV

const {
    pageTitle,
    description = 'my description',
    image = '/placeholder-social.jpg',
    surfaceClass = 'surface-1',
} = Astro.props
---

<html transition:animate="none">
    <head>
        <BaseHead title={pageTitle} description={description} image={image} />
    </head>

    <body class:list={[surfaceClass, 'center-self']}>
        <Hamburger class={surfaceClass} />

        <h1 style="grid-area: headline" transition:animate="fade">
            {pageTitle}
        </h1>
        <main transition:animate="slide" class="mainClass">
            <slot />
        </main>
        <Footer class=var(--surface-2) />

        <style>
            body {
                display:grid;
                align-items: start;
                grid-template-rows: min-content min-content 1fr min-content;
                grid-template-areas:
                    'header header header '
                    '.  headline .'
                    '. main . '
                    'footer footer footer';
                height: 100vh;
                grid-row-gap: var(--size-fluid-5) ;
            }

            Hamburger{
                grid-area: header;
            }
            Footer{
                grid-area: footer;
             
            }

            h1 {
                grid-area: headline;
            }
            main {
                grid-area: main;
               align-self: stretch;
               
            }

         
            .center-self {
                align-self: center;
            }
            /* .devborder {
                border: var(--border-size-2) solid var(--brand);
            } */

            .type-1 {
                font-size: var(--font-size-4);
                font-weight: var(--font-weight-3);
                line-height: var(--line-height-1);
            }

           
           

            h1 {
                font-weight: var(--font-weight-9);
            }
        </style>
    </body>
</html>
