---
import GlobalStyle from '@styles/GlobalStyle.astro';
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

import { ViewTransitions } from 'astro:transitions';

import { Cover, Center } from '@cc/index.js';

type Props = {
  pageTitle?: string;
  description?: string;
  image?: string;
  children: unknown;
  // surfaceClass?: 'surface-1' | 'surface-2' | 'surface-3' | 'surface-4'
};

// const isProd = import.meta.env.PROD
// const isDev = import.meta.env.DEV

const {
  pageTitle = 'Mike Connor',
  description = 'my description',
  image = '/placeholder-social.jpg',
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" transition:animate="none">
  <head>
    <BaseHead title={pageTitle} description={description} image={image} />
    <link rel="canonical" href={canonicalURL} />
    <GlobalStyle />
    <ViewTransitions />

    <!-- <ViewTransitions /> -->
    <!-- <script
      is:inline
      src="https://kit.fontawesome.com/fe2049e447.js"
      crossorigin="anonymous"></script> -->
    <!-- <link
      rel="alternate"
      type="application/rss+xml"
      title="Your Site's Title"
      href={`${Astro.site}rss.xml`}
    /> -->
  </head>

  <body class="myLayoutColors">
    <Cover centeredElement="center-l" noPad={true} space="0">
      <Header />

      <Center>
        <slot />
      </Center>

      <Footer />
    </Cover>
  </body>
</html>
