---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { Cover, Center, Stack } from '@cc/index.js';
// import SpeedInsights from '@vercel/speed-insights/astro';

type Props = {
  pageTitle?: string;
  description?: string;
  image?: string;
  children: unknown;
};

// const isProd = import.meta.env.PROD
// const isDev = import.meta.env.DEV

const {
  pageTitle = 'Mike Connor',
  description = 'my description',
  image = '/placeholder-social.jpg',
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" transition:animate="none">
  <head>
    <BaseHead title={pageTitle} description={description} image={image} />
    <link rel="canonical" href={canonicalURL} />
  </head>

  <body>
    <Cover centeredElement="center-l" noPad={true} space="0">
      <Header />

      <Center intrinsic
        ><Stack space="0" recursive>
          <slot />
        </Stack>
      </Center>

      <Footer />
    </Cover>
  </body>
</html>
