---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from './BaseLayout.astro'
import { Image } from 'astro:assets'
// import type { PostSchemaType } from '../schemas'

type Props = CollectionEntry<'posts'>['data']

// const { frontmatter } = Astro.props as { frontmatter: PostSchemaType };

const { title, author, description, image, tags, pubDate} = Astro.props
---

<BaseLayout pageTitle={title}>
    <p><em>{description}</em></p>
    <p>{pubDate.toDateString()}</p>

    <p>Written by: {author}</p>

    <Image width="300" height="200" src={image.url} alt={image.alt} />

    <div class="tags">
        {
            tags.map((tag: string) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>

    <slot />
</BaseLayout>
<style>
    a {
        color: #00539f;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        font-size: 1.15em;
        background-color: #f8fcfd;
    }
</style>
