---
import { format } from 'date-fns';
import { getEntry } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';

import type { BlogSchemaType } from '../schemas';
import { Frame, Box } from '@cc/index';
import TagContainer from '@components/TagContainer.astro';

interface Props {
  data: BlogSchemaType;
}

const { data } = Astro.props;

const { title, description, pubDate, author, cover, tags } = data;

// const { title, description, pubDate, author } = entry.data

const { data: authorData } = await getEntry('authors', author.id);
---

<BaseLayout pageTitle={title} description={description}>
  <Box><h2>{description}</h2></Box>
  <Box> <slot name="banner" /></Box>

  {
    author && (
      <Box>
        <p>
          Written by: {authorData.name}, {format(pubDate, 'd MMM, yyyy')}
        </p>
      </Box>
    )
  }

  <TagContainer tags={tags} />
  <slot name="main" />
</BaseLayout>
