---

import { format } from 'date-fns'
import { getEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import { Image } from 'astro:assets'


import TagContainer from '@components/TagContainer.astro'


const { frontmatter } = Astro.props

const author = await getEntry('authors', frontmatter.author.id)
---

<BaseLayout pageTitle={frontmatter.title} url={frontmatter.url}>
    <h2>{frontmatter.description}</h2>

    {
        author && (
            <p>
                Written by: {author.data.name},{' '}
                {format(frontmatter.pubDate, 'd MMM, yyyy')}
            </p>
        )
    }

    {
        frontmatter.image && (
            <Image
                width={frontmatter.image.width || 800}
                height={frontmatter.image.height || 300}
                src={frontmatter.image.url}
                alt={frontmatter.image.alt}
            />
        )
    }

    <TagContainer tags={frontmatter.tags} />

    <slot />
</BaseLayout>
