---
import BaseLayout from '@layouts/BaseLayout.astro';
import { format } from 'date-fns';
import { getEntry } from 'astro:content';

// import { authorSchema, BlogSchemaType } from '../schemas';
import { Box, Cluster } from '@cc/index.js';
import TagContainer from '@components/TagContainer.astro';

interface Props {
  description: string;
  title: string;
  authorId: string;
  pubDate: Date;
  tags: string[];
  children: unknown;
}

const { title, description, authorId, pubDate, tags } = Astro.props;

const authorDataObj = await getEntry('authors', authorId);
---

<!-- TODO: fix the date format -->
<BaseLayout pageTitle={title} description={description}>
  <article>
    <Box borderWidth="0" padding="0">
      <Cluster justify="space-between" align="baseline"
        ><Box borderWidth="0"><h2>{title}</h2></Box>

        {
          authorDataObj?.data.name && (
            <Box borderWidth="0">
              Written by: {authorDataObj.data.name},{' '}
              {format(pubDate, 'd MMM, yyyy')}
            </Box>
          )
        }
      </Cluster>
      <Box padding="0"><slot name="banner" /></Box>
    </Box>

    <Box borderWidth="0"><TagContainer tags={tags} /></Box>
    <Box padding="var(--s2)"><slot name="main" /></Box>
  </article>
</BaseLayout>

<style>
  article {
    background-color: var(--surface-1);
    color: var(--text-1);
  }
</style>
