---
import { getEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import type { PostSchemaType } from '../schemas.ts'
import TagButton from '@components/TagButton.astro'

type Props = {
    frontmatter: PostSchemaType
}

const { frontmatter } = Astro.props

const author = await getEntry(frontmatter.author)
---

<BaseLayout pageTitle={frontmatter.title}>
    <h2>{frontmatter.description}</h2>
    <p>{frontmatter.pubDate.toDateString()}</p>

    <p>Written by: {author.data.name}</p>

    {
        frontmatter.image && (
            <Image
                width={frontmatter.image.width || 800}
                height={frontmatter.image.height || 300}
                src={frontmatter.image.url}
                alt={frontmatter.image.alt}
                loading="lazy"
                decoding="async"
            />
        )
    }

    <ul class="tags">
        {frontmatter.tags.map((tag: string) => <TagButton tag={tag} />)}
    </ul>

    <slot />
</BaseLayout>
<style is:global>
    .tags {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: var(--size-1);
    }
 
   
</style>
