---
import { getEntry } from 'astro:content'
import BaseLayout from './BaseLayout.astro'
import { Image } from 'astro:assets'
import type { PostSchemaType } from '../schemas.ts'
import TagButton from '@components/TagButton.astro'

type Props = {
    frontmatter: PostSchemaType
}

const { frontmatter } = Astro.props

const author = await getEntry(frontmatter.author)
---

<BaseLayout pageTitle={frontmatter.title}>
    <p><em>{frontmatter.description}</em></p>
    <p>{frontmatter.pubDate.toDateString()}</p>

    <p>Written by: {author.data.name}</p>

    <Image
        width={frontmatter.image.width || 300}
        height={frontmatter.image.height || 200}
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
        loading="lazy"
        decoding="async"
    />

    <div class="tags">
        {frontmatter.tags.map((tag: string) => <TagButton tag={tag} />)}
    </div>

    <slot />
</BaseLayout>
<style>
    .tags {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        gap: var(--size-9);
    }
</style>
