---
import { getEntry } from 'astro:content'
//import type { CollectionEntry, getEntry } from 'astro:content'
import BaseLayout from './BaseLayout.astro'
import { Image } from 'astro:assets'
import type { PostSchemaType } from '../schemas.ts'
// import type { Code } from 'astro:components'

type Props = {
    frontmatter: PostSchemaType
}

const { frontmatter } = Astro.props

const author = await getEntry(frontmatter.author)

// const names: string[] = authors.data.map((author: any) => author.name)
---

<BaseLayout pageTitle={frontmatter.title}>
    <p><em>{frontmatter.description}</em></p>
    <p>{frontmatter.pubDate.toDateString()}</p>

    <p>Written by: {author.data.name}</p>

    <Image
        width="300"
        height="200"
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
    />

    <div class="tags">
        {
            frontmatter.tags.map((tag: string) => (
                <ul class="tag">
                    <li>
                        <a class="menu__item" href={`/tags/${tag}`}>
                            {tag}
                        </a>
                    </li>
                </ul>
            ))
        }
    </div>

    <slot />
</BaseLayout>
<style>
    .tags {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .tag {
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        padding-inline: var(--size-3);
        white-space: nowrap;
        background-color: var(--surface-2);
        & li {
            list-style: none;
        }
    }
</style>
 ../schemas.mjs
