---
// import { Debug } from 'astro:components';
import { z, reference } from 'astro:content';
import Layout from '@/layouts/BaseLayout.astro';
import { format } from 'date-fns';
import { getEntry } from 'astro:content';
import type { BlogSchemaType, zTags } from '@/schemas/index.ts';
import { Image } from 'astro:assets';

import { Box, Cluster } from '@cc/index.js';
import TagContainer from '@/components/TagContainer.astro';
import type { AstroComponentFactory } from 'astro/runtime/server/render/astro/index.js';

type Props = BlogSchemaType & {
  children: AstroComponentFactory;
};

const { title, description, pubDate, cover, author, tags } = Astro.props;

const results = await getEntry('authors', author.id);

const { name } = results.data;
---

<!-- TODO: fix the date format -->
<Layout title={title} description={description}>
  <article>
    <!-- <Debug {author} /> -->
    <Box borderWidth="0" padding="0">
      <Image
        src={cover.src}
        width="1200"
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px`}
        height="300"
        alt={cover.alt}
      />
      <Cluster justify="space-between" align="baseline"
        ><Box borderWidth="0"><h2>{title}</h2></Box>

        <Box borderWidth="0">
          Written by: {name},
          {format(pubDate, 'd MMM, yyyy')}
        </Box>
      </Cluster>
      <Box padding="0"><slot name="banner" /></Box>
    </Box>
    <!-- 
    {
      tags && (
        <Box borderWidth="0">
          <TagContainer tags={tags} />
        </Box>
      )
    } -->
    <Box padding="var(--s2)"><slot name="entry-content" /></Box>
  </article>
</Layout>

<style>
  article {
    background-color: var(--surface-1);
    color: var(--text-1);
  }
</style>
