---
import { format } from 'date-fns';
import { getEntry } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
// import { authorSchema, BlogSchemaType } from '../schemas';
import { Box, Stack } from '@cc/index.js';
import TagContainer from '@components/TagContainer.astro';

interface Props {
  description: string;
  title: string;
  authorId: string;
  pubDate: Date;
  tags: string[];
  children: unknown;
}

const { title, description, authorId, pubDate, tags } = Astro.props;

const authorDataObj = await getEntry('authors', authorId);
---

<!-- TODO: fix the date format -->
<BaseLayout pageTitle={title} description={description}>
  <Box padding="0" borderWidth="0">
    <Box invert><h2>{title}</h2></Box>
    <Box padding="0"><slot name="banner" /></Box>

    {
      authorDataObj?.data.name && (
        <Box>
          <p>
            Written by: {authorDataObj.data.name},{' '}
            {format(pubDate, 'd MMM, yyyy')}
          </p>
        </Box>
      )
    }
  </Box>
  <Box><TagContainer tags={tags} /></Box>
  <Box padding="var(--s2)"><slot name="main" /></Box>
</BaseLayout>

<style></style>
