---
// import { Debug } from 'astro:components';
import '../styles/markdown-style.css';
import Layout from '@/layouts/BaseLayout.astro';
import { format } from 'date-fns';
import { getEntry } from 'astro:content';
import type { BlogSchemaType } from '@/schemas/index.js';
import { Image } from 'astro:assets';

import TagContainer from '@/components/TagContainer.astro';

import { Box as LitBox } from '@/lit-layout-components';

import { Stack } from '@/astro-custom-layout-components';
// { Percentage, RmUnitType, JustifyContentTypes, AlignItemsTypes }
// import type { RmUnitType } from '@/astro-custom-layout-components';

import type { AstroComponentFactory } from 'astro/runtime/server/render/astro/index.js';

interface Props {
  blogData: BlogSchemaType;
  children: AstroComponentFactory;
}

const { blogData } = Astro.props;

const { title, description, pubDate, cover, author, tags } = blogData;

const results = await getEntry('authors', author.id);

const { name } = results.data;
---

<!-- TODO: fix the date format -->
<Layout title={title} description={description}>
  <!-- <Debug {author} /> -->

  <Stack space="var(--s0)">
    <LitBox borderWidth="1px" padding="0">
      <Image width="600" height="300" src={cover.src} alt={cover.alt} />
    </LitBox>

    <LitBox borderWidth="1px"><h1>{title}</h1></LitBox>

    <LitBox borderWidth="1px">
      Written by: {name},
      {format(pubDate, 'd MMM, yyyy')}
    </LitBox>

    {
      tags && (
        <LitBox borderWidth="1px">
          <TagContainer tags={tags as string[]} />
        </LitBox>
      )
    }
    <LitBox padding="var(--s00)" borderWidth="1px">
      <slot />
    </LitBox>
  </Stack>
</Layout>
